body {
    font-family: sans-serif;
    background-color: linen;

}

h1,h2,h3,h4,h5,h6 {
    color: whitesmoke;
    font-family: Merriweather;
    background-color: maroon;
}

p,ul,ol {
    color: maroon;
    font-family: "Open Sans";
}

.imgmod {
    align-items: center;
}

.btn {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
    bottom: 15px;
}

.modal {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

@keyframes animate {
    from {
        opacity: 1;
    }

    from {
        opacity: 0;
    }

}

.fechar {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn1 {
    padding: 5px;
    background: black;
    display: inline-block;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal1 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}




.fechar1 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn2 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal2 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}


.fechar2 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn3 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal3 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}




.fechar3 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn4 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal4 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar4 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn5 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal5 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar5 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn6 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal6 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar6 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn7 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal7 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar7 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn8 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal8 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar8 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn9 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal9 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar9 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn10 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal10 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar10 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;

}

.btn11 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal11 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar11 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn12 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal12 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar12 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn13 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal13 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar13 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn14 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal14 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar14 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

.btn15 {
    padding: 5px;
    background: black;
    display: inline-flex;
    width: 250px;
    height: 200px;
    cursor: pointer;
    top: 15px;
    bottom: 15px;
}

.modal15 {

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    background-color: gainsboro;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    animation: animate;
    animation-duration: 800ms;
}

.fechar15 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}